<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.name %>.</h1>
    <p>
      User <%= @current_user.username %> is now following you.<br>
    </p>
    <p>
      To see more details visit site: <%= @url %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>