<div class="row">
    <div class="col-xs-12 col-md-4">
        <h1 class="text-center">Find Movies</h1>
        
        <div class="row">
            <form id="movie-search">
                <div class="col-xs-8">
                    <input type="text" name="s" class="form-control pull-right" placeholder="Enter Movie Name">
                </div>
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-success">Search</button>
                </div>
            </form>
        </div>
    </div>
    
    <div class="col-xs-12 col-xs-8">
        <div class="container">
            <div id="movies">
                <% @movie.each do |m| %>
                    <div class="box panel panel-default pull-left">
                        <%= link_to image_tag(m.poster == "N/A" ? "default_image.png" : m.poster), movie_path(m.id) %>
                        <div class="panel-body">
                            <p><%= m.title %></p>
                            <p><%= m.year %></p>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>